<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <title>Document</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.css">
</head>

<body ng-cloak>
    <div class="container" ng-controller="MyAppCtrl as ctrl">
        <div class="page-header">
            <h2>Giphy Search</h2>
        </div>
        <form ng-submit="ctrl.addToCart()">

            <div class="form-group">
                <label for="item">Search tag: </label>
                <input type="text" name="item" ng-model="ctrl.tag">
                <input class="btn btn-success" type="submit">
            </div>

        </form>
        <div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in ctrl.cart">
                    <kbd> {{item.tag}} </kbd>
                    <br> <img ng-repeat="url in item.images" src="{{url}}" alt="">
                </li>
            </ul>
        </div>
    </div>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.controller.js"></script>
    <script src="app/services/app.service.js"></script>
</body>

</html>